.landingpage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 4rem;
}

.menu {
    display: flex;
    place-items: center;
    .object {
        font-size: 12rem;
        cursor: pointer;
    }

    span {
        font-size: var(--title-size);
    }
}